
/* =============================================================================
   Helpers
   ========================================================================== */

.button {
	display: block;
	display: inline-block;
	margin: 0.5em 0;
	padding: 0.5em;
	font-size: 0.9em;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.0;
	.border-radius(@radius);
	
	&.arrow {
		> span {
			padding-right: 22px;
			background: url(../img/button_arrow.png) right center no-repeat;
		}
	}
	
	// red (default)
		background: @red;
		color: #fff;
		
		&:hover {
			.box-shadow(2px,2px,0,@dark-red);
		}
	
	&.large {
		font-size: 1.2em;
		
		&.arrow {
			> span {
				padding-right: 22px;
				background: url(../img/button_large_arrow.png) right center no-repeat;
			}
		}
	}
}