button, .button {
	display: block;
	display: inline-block;
	margin: 0.5em 0;
	padding: 0.5em;
	font-size: 0.9em;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.0;
	border: 0;
	.border-radius(@radius);

	&:hover {
		text-decoration: none;
	}

	&.red {
		background: @red;
		color: #fff;

		&:hover {
			color: #fff;
			.box-shadow(2px,2px,0,@dark-red);
		}
	}

	&.arrow {
		> span {
			padding-right: 22px;
			background: url(../img/button_arrow.png) right center no-repeat;
		}
	}

	&.large {
		font-size: 1.2em;
	}

	&.xlarge {
		font-size: 1.5em;
	}
}

.icon.www a {
  width: 48px;
  height: 24px;
  background-image: url(../img/www_icon.png);
}

.nowrap {
	white-space: nowrap;
}