
/* =============================================================================
   Theme
   ========================================================================== */

body {
	color: @font-color;
	font-family: @font-family;
	font-size: 14px;
}

a {
	color: @red;
	text-decoration: underline;
}

#header {
	background: #000;
}

#logo {
	width: 150px;
	min-height: 80px;
	.ir('../img/sosendettement.png');
	background-position: left center;
}

#main-nav li {
	display: block;
	float: left;
	
	a {
		display: block;
		padding: 30px 10px;
		color: #fff;
		font-size: 1.1em;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		
		span {
			display: block;
			color: #ccc;
			font-size: 0.9em;
			font-weight: normal;
			font-style: italic;
			text-transform: none;
		}
	}
	
	&:hover {
		background: #333 url(../img/main_nav_item_hover_bg.png) left bottom repeat-x;
	}
	
	&.current-menu-item {
		background: @red url(../img/main_nav_item_active_bg.png) left bottom repeat-x;
		
		span {
			color: #fff;
		}
	}
}