
/* =============================================================================
   Theme
   ========================================================================== */

body {
	color: @font-color;
	font-family: @font-family;
	font-size: 14px;
}

a {
	color: @red;
	text-decoration: underline;
}

#header {
	background: #000;
}

#logo {
	width: 150px;
	height: 80px;
	padding: 25px 0;
	.ir('../img/sosendettement.png');
}

#main-nav li {
	display: block;
	float: left;
	
	a {
		display: block;
		padding: 40px 10px;
		color: #fff;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		
		span {
			display: block;
			color: #ccc;
			font-size: 0.9em;
			font-weight: normal;
			font-style: italic;
			text-transform: none;
		}
	}
}