
/* =============================================================================
   Variables
   ========================================================================== */

@font-color: #333;
@font-family: Arial, Helvetica, Tahoma, sans-serif;
@font-size: 14px;

@red: #E11F2D;
@dark-red: #790009;
@beige: #F9F7EA;
@dark-beige: #E3E1D5;

@radius: 3px;