
/* =============================================================================
   Variables
   ========================================================================== */

@font-color: #555;
@font-color-light: #777;
@font-color-dark: #333;
@font-family: 'Open Sans', Helvetica, Arial, sans-serif;
@font-size: 13px;

@red: #E11F2D;
@dark-red: #790009;
@beige: #F9F7EA;
@dark-beige: #E3E1D5;

@radius: 3px;