
/* =============================================================================
   Variables
   ========================================================================== */

@font-color: #555;
@font-family: 'PT Sans', Helvetica, Arial, sans-serif;
@font-size: 14px;

@red: #E11F2D;
@dark-red: #790009;
@beige: #F9F7EA;
@dark-beige: #E3E1D5;

@radius: 0.2em;